@tailwind base;
@tailwind components;
@tailwind utilities;

@config "../../tailwind.config.js";

:root {
  --buttonBg: theme(colors.blue.700);
}

.light {
  /* light theme styles go here */
  --bgColor: theme(colors.slate.50);
  --textColor: theme(colors.slate.950);
  --headerBg: theme(colors.stone.50);
}
.dark {
  /* dark theme styles go here */
  --bgColor: theme(colors.slate.900);
  --textColor: theme(colors.stone.50);
  --headerBg: theme(colors.slate.800);
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
}

header {
  background-color: var(--headerBg);
}

button {
  background-color: var(--buttonBg);
  color: theme(colors.slate.50);
}
