@tailwind base;
@tailwind components;
@tailwind utilities;

@config "../../tailwind.config.js";

.light {
  /* light theme styles go here */
  --bgColor: theme(colors.slate.50);
  --textColor: theme(colors.slate.950);
  --headerBg: theme(colors.stone.50);
}
.dark {
  /* dark theme styles go here */
  --bgColor: theme(colors.slate.900);
  --textColor: theme(colors.stone.50);
  --headerBg: theme(colors.sky.950);
}

button {
  background-color: theme(colors.blue.700);
  color: theme(colors.slate.50);
}
